.dish-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: hidden;
    margin-bottom: 150px;
}

.order-info {
    height: 96px;
    width: 100%;
    position: fixed;
    display: flex;
    bottom: 0;
    border-top: 1px solid #EDEEF2;
    justify-content: center;
    align-items: center;
    background-color: white;
}